<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Create Club</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 align="center">Create club</h1>
                    

                    <form action="#" method="post" th:action="@{/club/create}" th:object="${clubForm}" enctype="multipart/form-data">
                        <div th:if="${#fields.hasErrors('global')}">
                            <div th:errors="*{global}"></div>
                        </div>
                        <div class="form-group">
                            <label>Club name:</label> 
                            <input type="text" th:field="*{name}" class="form-control" placeholder="Enter club name"/>
                        </div>
                        <div class="alert alert-warning"
                             th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>

                        <div class="form-group">
                            <label>Logo:</label> 
                            <input type="file" name="Logo file" th:field="*{logo}" required="required"/>
                        </div>
                        <div class="alert alert-warning"
                             th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}">Logo error</div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
