<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Show Teams</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 align="center">Teams</h1>
                    <p align="center"><img th:attr="src=@{/club/image/__${Club}__}" /></p>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <div align="center"> <a th:href="@{/club/__${Club}__/sections/__${Section}__/teams/create}">Add new team<span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span> </a> </div>
                    </div>


                    <br/>
                    <div th:unless="${#lists.isEmpty(teamList)}">


                        <div class="panel-group">
                            <div th:each="team : ${teamList}" >
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span th:text="'Team name:    '+${team.nazwa}"/>
                                        <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                            <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/edit/__${team.idDruzyna}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                            <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/remove/__${team.idDruzyna}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a> 
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p th:text="'League:    ' + ${team.idLiga.nazwa}"/>
                                        <div align="right" >
                                            <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${team.idDruzyna}__/players/}"><img style="margin-left: 10px" src="https://cdn4.iconfinder.com/data/icons/sports-vol-3/48/122-20.png"/></a> 
                                            <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${team.idDruzyna}__/staffmembers/}"><img style="margin-left: 10px" src="https://cdn3.iconfinder.com/data/icons/general-icons-set-1/100/65_member-20.png"/> </a> 
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center"> <a th:href="@{/club/__${Club}__/sections/}">BACK<span style="margin-left: 10px" class="glyphicon glyphicon-arrow-left"></span> </a> </div>
        </div>
    </body>
</html>