<!DOCTYPE html>

<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Board members</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 align="center">Board members</h1>
                    <p align="center"><img src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-128.png"/></p>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <div align="center"> <a th:href="@{/club/__${club}__/boardmembers/create}">Create new board member<span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span> </a> </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>

                    <div th:unless="${#lists.isEmpty(memberList)}">
                        <div class="panel-group">
                            <div th:each="member : ${memberList}" >
                                <div class="panel panel-default">
                                    <div class="panel-heading" >
                                        <p th:text="${member.imie} + ' ' + ${member.nazwisko}"/>
                                        <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                            <a  th:href="@{/club/__${club}__/boardmembers/edit/__${member.idCzlonek}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                            <a  th:href="@{/club/__${club}__/boardmembers/remove/__${member.idCzlonek}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-remove"></span> </a> 
                                        </div>
                                    </div>
                                    <div class="panel-body" >
                                        <p th:text="'Job position:    ' + ${member.stanowisko}"/>
                                        <br/>
                                        <p th:text="'Salary:    ' + ${member.pensja} + 'PLN'"/>
                                        <br/>
                                        <p th:text="'Percent of the clubs shares:    ' + ${member.procentUdzialow} + '%'"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div align="center"> <a th:href="@{/club/__${club}__/}">BACK<span style="margin-left: 10px" class="glyphicon glyphicon-arrow-left"></span> </a> </div>
        </div>
    </body>
</html>
