<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Show Teams Players</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <h1 align="center">Player:</h1>
                    <p align="center"><img src="https://cdn4.iconfinder.com/data/icons/sports-vol-3/48/122-128.png"/></p>


                    <div align="left" class="panel panel-default">
                        <div class="panel-heading" >  <b><span th:text="'Player:'+${Player.Imie}+' '+ ${Player.Nazwisko}"/> </b></div>
                        <div class="panel-body">
                            <div th:text="' Player birthdate: '+${Player.dataUrodzenia} "/>
                            <div th:text="' Player height: '+${Player.wzrost} "/>
                            <div th:text="' Player weight: '+${Player.waga} "/>
                        </div>
                    </div>

                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <div align="center"> <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/__${Player.idZawodnik}__/create/}">Add new statistics<span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span> </a> </div>
                    </div>
                    <br/>
                    <div th:unless="${#lists.isEmpty(statisticsList)}">
                        <ul class="list-group">
                            <div  th:each="statistic : ${statisticsList}" >                             
                                <li class="list-group-item">

                                    <b><span th:text="' Statistics for season'+${statistic.sezon.rok} "/></b>
                                    <br/>
                                    <div th:text="' Player goals: '+${statistic.strzeloneBramki} "/>
                                    <div th:text="' Player lost goals: '+${statistic.straconeBramki} "/>
                                    <div th:text="' Player yellow cards: '+${statistic.zolteKartki} "/>
                                    <div th:text="' Player red cards: '+${statistic.czerwoneKartki} "/>
                                    <div th:text="' Player fauls commited '+${statistic.czerwoneKartki} "/>
                                    <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                        <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/__${Player.idZawodnik}__/edit/__${statistic.sezon.idSezon}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                        <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/__${Player.idZawodnik}__/remove/__${statistic.sezon.idSezon}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a> 
                                    </div>
                                </li>
                            </div>
                        </ul>

                    </div>
                </div>
            </div>
            <div align="center"> <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/}">BACK<span style="margin-left: 10px" class="glyphicon glyphicon-arrow-left"></span> </a> </div>
        </div>
    </body>
</html>