<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Show Teams Players</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <h1 align="center">Players of team:</h1>
                    <p align="center"><img th:attr="src=@{/club/image/__${Club}__}" /></p>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <div align="center"> <a th:href="@{/club/__${Club}__/sections/__${Section}__/teams/__${Team}__/players/create}">Add new player<span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span> </a> </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>

                    <div th:unless="${#lists.isEmpty(playersList)}">
                        <div class="panel-group">
                            <div  th:each="player : ${playersList}" > 
                                <div class="panel panel-default">
                                    <div class="panel-heading" >
                                        <a   th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/__${player.idZawodnik}__/}">
                                            <p th:text="${player.imie} + ' ' + ${player.nazwisko}"/>
                                            <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                                <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/edit/__${player.idZawodnik}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                                <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/remove/__${player.idZawodnik}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a> 
                                            </div>
                                        </a>
                                    </div>
                                    <div class="panel-body" >
                                        <a   th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/__${Team}__/players/__${player.idZawodnik}__/}">
                                            <p th:text="'Birthdate:   '+${player.dataUrodzenia} "/>
                                            <br/>
                                            <p th:text="'Height:   '+${player.wzrost} + 'cm'"/>
                                            <br/>
                                            <p th:text="'Weight:   '+${player.waga} + 'kg'"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center"> <a th:href="@{/club/__${Club}__/sections/__${idSection}__/teams/}">BACK<span style="margin-left: 10px" class="glyphicon glyphicon-arrow-left"></span> </a> </div>
        </div>
    </body>
</html>