<!DOCTYPE html>

<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Buildings</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body>
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1 align="center">Buildings</h1>
                    <p align="center"><img src="https://cdn4.iconfinder.com/data/icons/miu/24/house-home-real_estate-property-glyph-128.png"/></p>
                    <div th:if="${#authorization.expression('isAuthenticated()')}">
                        <div align="center"> <a th:href="@{/club/__${club}__/buildings/create}">Add new building<span style="margin-left: 10px" class="glyphicon glyphicon-plus"></span> </a> </div>
                    </div>
                    <br/>
                    <br/>
                    <br/>

                    <div class="panel-group">
                        <div th:unless="${#lists.isEmpty(arenaList)}" th:each="arena: ${arenaList}">
                            <div class="panel panel-default">
                                <div class="panel-heading" >
                                    <p><b>Club arena</b></p>
                                    <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                        <a th:href="@{/club/__${arena.budynek.idKlub.idKlub}__/buildings/edit/__${arena.budynek.idbudynek}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                        <a th:href="@{/club/__${arena.budynek.idKlub.idKlub}__/buildings/remove/__${arena.budynek.idbudynek}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a> 
                                    </div>
                                </div>
                                <div class="panel-body" >
                                    <p th:text="'Name: ' + ${arena.nazwa}"/>
                                    <p th:text="'Capacity: '+${arena.iloscMiejsc}"/>
                                    <p th:text="'Sport discipine: '+${arena.dyscyplina}"/>
                                    <div th:unless="${#lists.isEmpty(buildings)}" th:each="building:${buildings}">
                                        <div th:if="${building.idbudynek}==${arena.budynek.idbudynek}">
                                            <p><b>Address:</b></p>
                                            <p th:text="'Street: '+${building.ulicanumer}"/>
                                            <p th:text="${building.kodPocztowy} + '  ' + ${building.miejscowosc}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div th:unless="${#lists.isEmpty(buildingAdminList)}" th:each="admin: ${buildingAdminList}">
                            <div class="panel panel-default">
                                <div class="panel-heading" >
                                    <p><b>Club administration</b></p>
                                    <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                        <a th:href="@{/club/__${admin.budynek..idKlub.idKlub}__/buildings/edit/__${admin.budynek..idbudynek}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                        <a th:href="@{/club/__${admin.budynek..idKlub.idKlub}__/buildings/remove/__${admin.budynek..idbudynek}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a>                         
                                    </div>
                                </div>
                                <div class="panel-body" >
                                    <div th:unless="${#lists.isEmpty(buildings)}" th:each="building:${buildings}">
                                        <div th:if="${building.idbudynek}==${admin.budynek.idbudynek}">
                                            <p><b>Address:</b></p>
                                            <p th:text="'Street: '+${building.ulicanumer}"/>
                                            <p th:text="${building.kodPocztowy} + '  ' + ${building.miejscowosc}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div th:unless="${#lists.isEmpty(trainingObjectList)}" th:each="tbuilding:${trainingObjectList}">
                            <div class="panel panel-default">
                                <div class="panel-heading" >
                                    <p><b>Training Object</b></p>
                                    <div align="right" th:if="${#authorization.expression('isAuthenticated()')}">
                                        <a th:href="@{/club/__${tbuilding.budynek.idKlub.idKlub}__/buildings/edit/__${tbuilding.budynek.idbudynek}__}"><span style="margin-left: 10px" class="glyphicon glyphicon-pencil"></span> </a>
                                        <a th:href="@{/club/__${tbuilding.budynek.idKlub.idKlub}__/buildings/remove/__${tbuilding.budynek.idbudynek}__}"><span style="margin-left: 30px" class="glyphicon glyphicon-remove"></span> </a> 
                                    </div>
                                </div>
                                <div class="panel-body" >
                                    <p th:text="'Sport discipline: '+${tbuilding.dyscyplina}"/>
                                    <div th:unless="${#lists.isEmpty(buildings)}" th:each="building:${buildings}">
                                        <div th:if="${building.idbudynek}==${tbuilding.budynek.idbudynek}">
                                            <p><b>Address:</b></p>
                                            <p th:text="'Street: '+${building.ulicanumer}"/>
                                            <p th:text="${building.kodPocztowy} + '  ' + ${building.miejscowosc}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div align="center"> <a th:href="@{/club/__${club}__/}">BACK<span style="margin-left: 10px" class="glyphicon glyphicon-arrow-left"></span> </a> </div>
        </div>
    </body>
</html>
