<!DOCTYPE html>
<html>
    <head>
        <title>Footer</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}" href="../static/css/footer.css"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    </head>
    <body>
        <div th:fragment="footer"></div>
        <footer>
            <div class="text-center">
                <p class="text-muted">&copy; 2016 K&amp;K Development</p>
            </div>
        </footer>
    </body>
</html>
