<!DOCTYPE html>

<html 
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>HOME</title>
        <meta charset="UTF-8"/>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" th:href="@{/css/style.css}"
              href="../../css/style.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>
    <body >
        <div class="container">
            <div th:replace="header :: header"></div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Login</h1>
                <div th:if="${param.error}" class="alert alert-error">
                    Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <form th:action="@{/login}" method="post">

                    <div class="form-group">
                        <label>User login:</label> 
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter login"/>
                    </div>

                    <div class="form-group">
                        <label>Password:</label> 
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"/>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-danger">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
